# Core dependencies
fastapi
uvicorn
requests
pydantic
starlette

# HTTP client
httpx

# Database support
motor
pymongo

# OpenTelemetry
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-asgi
opentelemetry-semantic-conventions
opentelemetry-util-http
opentelemetry-exporter-jaeger
opentelemetry-exporter-jaeger-proto-grpc
opentelemetry-exporter-jaeger-thrift
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http

# Development tools
pytest
pytest-asyncio
pytest-mock
pylint
isort
